In [4]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset("titanic")

print(titanic.info())

p3 = titanic.loc[titanic["pclass"] == 3,["age", "sex", "fare", "survived"]]
print(p3.sort_values(by="age", ascending=False).head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None
      age     sex    fare  survived
851  74.0    male  7.7750         0
116  70.5    male  7.7500         0
280  65.0    male  7.7500         0
483  63.0  female  9.5875         1
326  61.0    male  6.2375         0
94   59.0    male  7.2500         0
152  55.5    male  8.0500         0
631  51.0    male  7.0542         0
222  51.0    male  8.0500         0
406  51.0    male  7.7500         0